<div class="text-layout">
  <h2>DecimalPipe y porcentaje</h2>
  <p>Pipes incluidos en angular - Usualmente por el modulo de CommonModule</p>
</div>

<div class="grid">
  <div class="col-4">
    <p-card
      header="Ventas neta"
      subheader="del presente año"
    >
      <i class="pi pi-dollar"></i>
      {{ventasNeta | number:'.2-2'}}
    </p-card>
  </div>

  <div class="col-4">
    <p-card
      header="Ventas brutas"
      subheader="del presente año"
    >
      {{ventasNeta | currency:'EUR':'symbol-narrow':'1.4-4'}}
    </p-card>
  </div>

  <div class="col-4">
    <p-card
      header="Ganancias %"
      subheader="del presente año"
    >
    {{porcentaje | percent}}
    </p-card>
  </div>
</div>