@import '../node_modules/primeng/resources/themes/vela-blue/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeicons/primeicons.css';

body{
  background-color: var(--surface-b);
  color: white;
}

.text-layout{
  color: var(--text-color);
}